<template>
  <v-app id="inspire">
    <v-app-bar
      elevate-on-scroll
      absolute
      color="blue accent-2"
      dense
      class="d-flex justify-end"
      ><v-app-bar-title>R0N1n</v-app-bar-title>
      <v-app-bar-nav-icon @click="drawer = !drawer"
        ><i class="gg-menu"></i
      ></v-app-bar-nav-icon>
    </v-app-bar>
    <v-navigation-drawer
      v-model="drawer"
      app
      class="pt-4"
      color="grey lighten-3"
      mini-variant
    >
      <v-btn
        fab
        small
        v-for="icon in icons"
        :key="icon.id"
        color="blue"
        class="d-block text-center mx-auto mb-9"
      >
        <i :class="icon.name"></i>
      </v-btn>
      <!--<v-btn outlined color="primary" dark v-for="(link, index) in links" :key="index">{{link.name}}</v-btn>-->
    </v-navigation-drawer>

    <v-main>
      <div class="reload">
        <ReloadPrompt />
      </div>

      <!--  -->
      <Banner />
      <TheStepper />
    </v-main>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    drawer: true,
    icons: [
      { id: 1, name: "gg-home" },
      { id: 2, name: "gg-folder" },
      { id: 3, name: "gg-search" },
      { id: 4, name: "gg-list" },
    ],
    //links:[{name: "Home"}, {name: "About"},{name: "Contact"},{name: "FAQ"}]
  }),
};
</script>
